/* =============================
   RESET / GLOBAL
   ============================= */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: linear-gradient(15deg, lightblue, darkblue, rgb(7, 7, 54));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--font-base);
  color: var(--color-surface);
}
