
/* Theme-light */
:root {
    --bg: #7acaff;
    --text: #ffffff;
    --card-bg: rgba(255,255,255,0.9);
    --card-text: #1b1b1b;
    --secondary-text: #555555;
    --accent: #005fcc;
    --temp-color: #02336c;
    --border: #cccccc;
    
    --green: #3ccf4e;
    --yellow: #ffd447;
    --blue-soft: #9bd8ff;
    --red: #ff6363;
    --neutral: #e8e8e8;
}

/* Theme-dark */
:root[data-theme="dark"] {
    --bg: #1e1e1e;
    --text: #f0f0f0;
    --card-bg: rgba(40,40,40,0.9);
    --card-text: #ffffff;
    --secondary-text: #cccccc;
    --accent: #2c5387;
    --temp-color: #ffffff;
    --border: #444444;

    --green: #2fbf44;
    --yellow: #e6c233;
    --blue-soft: #7eb4d9;
    --red: #ff4e4e;
    --neutral: #444444;

    --shadow-soft: 0 4px 10px rgba(0,0,0,0.45);
    --shadow-medium: 0 8px 20px rgba(0,0,0,0.55);
    --shadow-strong: 0 12px 35px rgba(0,0,0,0.65);
}