.search-container {
    display: flex;
    gap: var(--space-xs);
}

input {
    flex: 1;
    padding: var(--space-s);
    border-radius: var(--radius-m);
    border: 2px solid var(--border);
    font-size: var(--font-size-md);
    background-color: var(--card-bg);
    color: var(--card-text);
    transition: background var(--speed-normal),
                color var(--speed-normal),
                border var(--speed-normal);
}

input:focus {
    outline: 3px solid var(--accent);
}

