.weekly-forecast {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    gap: var(--space-xs);
    margin-top: var(--space-l);
}

.weekly-card {
    width: 100%;
    height: 30px;
    display:grid;
    grid-auto-columns: 60px 1fr 1fr 1fr;
    background: var(--card-bg);
    border-radius: var(--radius-l);
    box-shadow: var(--shadow-soft);
}

.weekly-card .day {
    grid-column: 1;
    font-weight: var(--weight-bold);
    margin-bottom: var(--space-xs);
}


.weekly-card .temp {
    grid-column: 2;
}
.weekly-card .weather {
    grid-column: 3;
}
.weekly-card .wind {
    grid-column: 4;
}

.weekly-card .temp,
.weekly-card .weather,
.weekly-card .wind {
    font-size: var(--font-size-sm);
    margin: 2px 0;
    gap: var(--space-xs);
}
